// Fonts
$text-font-stack: 'Graphik', sans-serif !default;
$text-weight-light: 300 !default;
$text-weight-regular: 400 !default;
$text-weight-medium: 500 !default;
$text-weight-bold: 700 !default;


// Colors
$text-black: #42434B !default;
$bg-white: #FFFFFF !default;
$blue: #1C94E9 !default;
$inactive: #AFAFB3 !default;

// Wrap
.wrap {
    width: 90%;
    max-width: 1800px;
    margin: 0 auto;
}
