// Fonts
$text-font-stack: 'Graphik', sans-serif !default;
$text-weight-light: 300 !default;
$text-weight-regular: 400 !default;
$text-weight-medium: 500 !default;
$text-weight-bold: 700 !default;


// Colors
$text-black: #42434B !default;
$bg-white: #FFFFFF !default;
$blue: #1C94E9 !default;
$inactive: #363741 !default;


// grid

/**********************************************
* 1180 CSS Grid System - Fluid
* by Chris Blackwell / chrisblackwell.me
**********************************************/

body {
    width: 100%;
    margin: 0;
    padding: 0;
}

.wrap {
    width: 86%;
    max-width: 1180px;
    margin: 0 auto;
}
.flexbox {
    display: -webkit-flex;
    display: flex;
}
