// General

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: $text-font-stack;
    color: $text-black;
    background-color: $bg-white;
    -webkit-font-smoothing: antialiased;
}

// Navigation

header {
    max-width: 100%;
    padding-top: 40px;
    height: 2%;
}

.active {
  color: $blue;
}

.inactive {
  color: $inactive;
}

a:hover {
  color: $blue;
}

.home {
  float: left;
  color: $text-black;
}

nav {
  color: $text-black;
  float: right;
}

header a {
    color: $inactive;
    font-weight: 400;
    font-size: 18px;
    padding-right: 34px;
    float: left;
}

// Body

section.lead {
  margin-top: 20%;
  margin-bottom: 10%;
}

///// project

.image {
  width: 70%;
  float: right;
  border-radius: 38px;
}

img.teaser {
  border-radius: 8px;
  width: 100%;
  height: 100%;
  max-width: 800px;
  max-height: 600px;
}

.item {
  height: 400px;
  margin-bottom: 50%;
}
@media(max-width: 1100px){
  body {
    min-height: none;
    font-size: 90%;
  }
  header {
    display: block;
  }
}

@media(max-width: 730px){
  .info {
    width: 100% !important;
    float: none;
    padding-bottom: 30px;
  }
  .item {
    // margin-bottom: 54%;
  }
  .image {
    width: 100% !important;
  }
}

@media(min-width: 1100px){
  .info, .image {

	}
}


.info {
  width: 30%;
  padding-right: 35px;
  float: left;
}


.info h2 {
  padding-bottom: 10px;
}

.role {
  margin-top: 12px;
}


///// contact form

footer.footer {
    margin-top: 16%;
}

.contact {
  background: #fff;
  width: 100%;
}

placeholder {
  color: #000;
}

.contact-info {
  float: left;
  width: 10%;
}


input {
  width: 100%;
  margin-bottom: 20px;
  height: 52px;
  font-family:inherit;
  font-size: 16px;
  background: #FFFFFF;
  border: 1px;
  border-radius: 4px;
  border: 1px solid #E3E3E4;
  padding: 16px 22px 16px 22px;
  -webkit-transition: 0.1s ease-in;
   -moz-transition: 0.1s ease-in;
   -o-transition: 0.1s ease-in;
   -ms-transition: 0.1s ease-in;
   transition: 0.1s ease-in;
}

input:focus {
  border: solid  $blue 1px;
  outline: none;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.07);
}

input[type=text] {
  margin-right: 15px;
}

textarea[name=message] {
  width: 100%;
  max-width: 800px;
  line-height: 1.5;
  height: 178px;
  font-family:inherit;
  font-size: 16px;
  background: #FFFFFF;
  border-radius: 4px;
  border: 1px solid #E3E3E4;
  padding: 16px 22px 16px 22px;
  margin-bottom: 15px;
  -webkit-transition: 0.1s ease-in;
   -moz-transition: 0.1s ease-in;
   -o-transition: 0.1s ease-in;
   -ms-transition: 0.1s ease-in;
   transition: 0.1s ease-in;
}

textarea[name=message]:focus {
  border: solid 1px $blue;
  outline: none;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.07);
}

b {
  font-weight: 400;
  color: $text-black;
}

.small {
  margin-bottom: 32px;
}
// .btn-one {
//   height: 46px;
//   border-radius: 4px;
//   width: 122px;
//   color: #1c94e9;
//   padding: 12px 22px 12px 22px;
  // border: solid 2px rgba(65,119,242, .2);
//   -webkit-transition: 0.1s ease-in;
//    -moz-transition: 0.1s ease-in;
//    -o-transition: 0.1s ease-in;
//    -ms-transition: 0.1s ease-in;
//    transition: 0.1s ease-in;
// }

// .btn-one {
//   font-weight: $text-weight-medium;
//   color: #000;
//   padding: 14px 22px 14px 22px;
//   -webkit-transition: 0.1s ease-in;
//    -moz-transition: 0.1s ease-in;
//    -o-transition: 0.1s ease-in;
//    -ms-transition: 0.1s ease-in;
//    transition: 0.1s ease-in;
//    background: rgba(65,119,242,0.00);
//    border: 1px solid rgba(54,54,65,0.14);
//    border-radius: 4px;
//    font-size: 16px;
//    color: #2599EB;
// }

.btn-one {
  font-weight: $text-weight-medium;
  color: #000;
  padding: 14px 22px 14px 22px;
  -webkit-transition: 0.1s ease-in;
   -moz-transition: 0.1s ease-in;
   -o-transition: 0.1s ease-in;
   -ms-transition: 0.1s ease-in;
   transition: 0.1s ease-in;
   background: #2599EB;
   border-radius: 4px;
   font-size: 16px;
   color: #fff;
}

.btn-one:hover {
  background: #2599EB;
  background: #2885C9;
  color: #fff;
}




li {
  list-style: none;
  margin-top: 32px;
  margin-bottom: 32px;
}

a.hello {
  color: #000;
  padding-bottom: 10px;
  margin-top: 20px;
  margin-bottom: 320px;
  border-bottom: 2px $blue solid;
  -webkit-transition: 0.1s ease-in;
   -moz-transition: 0.1s ease-in;
   -o-transition: 0.1s ease-in;
   -ms-transition: 0.1s ease-in;
   transition: 0.1s ease-in;
}

a.hello:hover {
  color: $blue;
  padding-bottom: 12px;
}

form.btn-one {
  float: right;
}

.contact-form {
  width: 100%;
  max-width: 800px;
  float: right;
  padding-bottom: 220px;
}

.contact-info {
  width: 320px;
  float: left;
}
.contact {
  padding-top: 120px;
}
.contact > btn-one {
  float: right;
}

button {
  float: right;
  font-weight: $text-weight-medium;
  font-family: inherit;
  cursor: pointer;
  color: #000;
  padding: 12px 22px 12px 22px;
  -webkit-transition: 0.1s ease-in;
   -moz-transition: 0.1s ease-in;
   -o-transition: 0.1s ease-in;
   -ms-transition: 0.1s ease-in;
   transition: 0.1s ease-in;
   background: #2599EB;
   border: 1px solid #2599EB;
   border-radius: 4px;
   font-family: inherit;
   font-size: 16px;
   color: #fff;
   letter-spacing: 0;
   line-height: 24px;
   text-align: center;
   width: 100%;
   max-width: 800px;
}

button:hover {
  border: 1px solid #2599EB;
  background: #2599EB;
  background: #2885C9;
  color: #fff;
}

.lead-about {
  background: #000;
  margin-bottom: 4.9%;
}

.about {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 700px;
}

p.about {
  margin-bottom: 220px;
  line-height: 2;
}

.avatar {
  margin-top: 140px;
  height: 120px;
  width: 120px;
  margin-bottom: 20px;
  border-radius: 100%;
}
