* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: $text-font-stack;
  color: $text-black;
  background-color: $bg-white;
  -webkit-font-smoothing: antialiased;
}

header {
    padding-top: 40px;
    height: 70px;
}

.active {
  color: $blue;
}

.inactive {
  color: $inactive;
}

a:hover {
  color: $blue;
}

nav {
  float: right;
}

header a {
    color: $inactive;
    font-weight: 400;
    font-size: 18px;
    padding-right: 34px;
}

.logo {
  width: 34px;
  float: left;
}


h1 {
  width: 60%;
  line-height: 1.5;
  margin-top: 140px;
  margin-bottom: 220px;
}

///// project

.teaser {
    width: 100%;
    max-height: 534px;
    border-radius: 8px;
}

@media(max-width: 1097px){
	.image, .info {
    display: block;
	}
  .info {
    margin-bottom: 50px;
  }
  form {
    padding-top: 30px;
  }
}
@media(min-width: 1098px){
	.item {
		height: 534px;
	}
  .image {
    float: right;
  }
	.image, .info {
		display: inline-block;
	}
}

.image {
  display: block;
  width: auto;
  max-width: 778px;
  float: right;
  margin-bottom: 150px;
}

.info {
  max-width: 320px;
}

.info h2 {
  padding-bottom: 20px;
}

.item {
  margin-top: 170px;
  height: 534px;
}

.role {
  padding-top: 20px;
}


///// contact form

footer.footer {
  padding-bottom: 220px !important;
}

.contact {
  background: #fff;
  width: 100%;
}

placeholder {
  color: #000;
}

.contact-info {
  float: left;
  width: 380px;
}


input {
  width: 100%;
  margin-bottom: 20px;
  height: 52px;
  font-family:inherit;
  font-size: 16px;
  background: #FFFFFF;
  border: 1px;
  border-radius: 4px;
  border: 1px solid #E3E3E4;
  padding: 16px 22px 16px 22px;
  -webkit-transition: 0.1s ease-in;
   -moz-transition: 0.1s ease-in;
   -o-transition: 0.1s ease-in;
   -ms-transition: 0.1s ease-in;
   transition: 0.1s ease-in;
}

input:focus {
  border: solid  $blue 1px;
  outline: none;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.07);
}

input[type=text] {
  margin-right: 15px;
}

textarea[name=message] {
  width: 100%;
  max-width: 780px;
  line-height: 1.5;
  height: 178px;
  font-family:inherit;
  font-size: 16px;
  background: #FFFFFF;
  border-radius: 4px;
  border: 1px solid #E3E3E4;
  padding: 16px 22px 16px 22px;
  margin-bottom: 15px;
  -webkit-transition: 0.1s ease-in;
   -moz-transition: 0.1s ease-in;
   -o-transition: 0.1s ease-in;
   -ms-transition: 0.1s ease-in;
   transition: 0.1s ease-in;
}

textarea[name=message]:focus {
  border: solid 1px $blue;
  outline: none;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.07);
}

h2 {
  font-weight: 400;
}

.role {
  margin-bottom: 8%;
}

b {
  font-weight: 400;
  color: #000;
}

.small {
  margin-bottom: 32px;
}
// .btn-one {
//   height: 46px;
//   border-radius: 4px;
//   width: 122px;
//   color: #1c94e9;
//   padding: 12px 22px 12px 22px;
  // border: solid 2px rgba(65,119,242, .2);
//   -webkit-transition: 0.1s ease-in;
//    -moz-transition: 0.1s ease-in;
//    -o-transition: 0.1s ease-in;
//    -ms-transition: 0.1s ease-in;
//    transition: 0.1s ease-in;
// }

.btn-one {
  font-weight: $text-weight-medium;
  color: #000;
  padding: 14px 22px 14px 22px;
  -webkit-transition: 0.1s ease-in;
   -moz-transition: 0.1s ease-in;
   -o-transition: 0.1s ease-in;
   -ms-transition: 0.1s ease-in;
   transition: 0.1s ease-in;
   /* Mask: */
   background: rgba(65,119,242,0.00);
   border: 1px solid rgba(54,54,65,0.14);
   border-radius: 4px;
   /* Read case study: */
   font-family: MaisonNeue-Book;
   font-size: 16px;
   color: #2599EB;
   letter-spacing: 0;
   line-height: 24px;
}

.btn-one:hover {
  border-bottom: solid 2px rgba(65,119,242, .2);
}



li {
  list-style: none;
  margin-top: 32px;
  margin-bottom: 32px;
}

a.hello {
  color: #000;
  padding-bottom: 10px;
  margin-top: 20px;
  margin-bottom: 320px;
  border-bottom: 2px $blue solid;
  -webkit-transition: 0.1s ease-in;
   -moz-transition: 0.1s ease-in;
   -o-transition: 0.1s ease-in;
   -ms-transition: 0.1s ease-in;
   transition: 0.1s ease-in;
}

a.hello:hover {
  color: $blue;
  padding-bottom: 12px;
}

form.btn-one {
  float: right;
}

.contact-form {
  width: 100%;
  max-width: 780px;
  float: right;
  padding-bottom: 220px;
}

.contact-info {
  width: 320px;
  float: left;
}
.contact {
  padding-top: 120px;
}
.contact > btn-one {
  float: right;
}

button {
  float: right;
  font-weight: $text-weight-medium;
  font-family: inherit;
  cursor: pointer;
  color: #000;
  padding: 12px 22px 12px 22px;
  -webkit-transition: 0.1s ease-in;
   -moz-transition: 0.1s ease-in;
   -o-transition: 0.1s ease-in;
   -ms-transition: 0.1s ease-in;
   transition: 0.1s ease-in;
   background: #2599EB;
   border: 1px solid #2599EB;
   border-radius: 4px;
   font-family: inherit;
   font-size: 16px;
   color: #fff;
   letter-spacing: 0;
   line-height: 24px;
   text-align: center;
   width: 100%;
   max-width: 780px;
}

button:hover {
  border: 1px solid #2599EB;
  background: #2599EB;
  background: #2885C9;
  color: #fff;
}

.lead-about {
  background: #000;
}

.about {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 700px;
}

p.about {
  margin-bottom: 220px;
  line-height: 2;
}

.avatar {
  margin-top: 140px;
  height: 120px;
  width: 120px;
  margin-bottom: 20px;
  border-radius: 100%;
}
