// Grid
.wrap {
  width: 90%;
  max-width: 1200px;
}

// Colors
.t-black { color: $text-black }
.bg-white { background-color: $bg-white }

// Type

h1 {
  font-size: 42px;
  font-weight: 400;
  line-height: 1.6;
}

h2 {
  font-size: 36px;
  font-weight: 400;
  line-height: 1.6;
  font-weight: $text-weight-regular
}

p {
  font-size: 18px;;
  color: rgba(54,54,65,0.70);
  letter-spacing: 0;
  line-height: 2;
}

a {
  text-decoration: none;
}

@font-face {
	font-family: 'Graphik';
	src: url('/fonts/Graphik-Regular.eot');
	src: url('/fonts/Graphik-Regular.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Graphik-Regular.woff') format('woff'),
		url('/fonts/Graphik-Regular.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Graphik';
	src: url('fonts/Graphik-Semibold.eot');
	src: url('fonts/Graphik-Semibold.eot?#iefix') format('embedded-opentype'),
		url('fonts/Graphik-Semibold.woff') format('woff'),
		url('fonts/Graphik-Semibold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}


@font-face {
	font-family: 'Graphik';
	src: url('/fonts/Graphik-Bold.eot');
	src: url('/fonts/Graphik-Bold.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Graphik-Bold.woff') format('woff'),
		url('/fonts/Graphik-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Graphik';
	src: url('/fonts/Graphik-Medium.eot');
	src: url('/fonts/Graphik-Medium.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Graphik-Medium.woff') format('woff'),
		url('/fonts/Graphik-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Graphik';
	src: url('/fonts/Graphik-Light.eot');
	src: url('/fonts/Graphik-Light.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Graphik-Light.woff') format('woff'),
		url('/fonts/Graphik-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
